* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #27a8b7;
  --secondary-color: #3bafa6;
  --font-color: #757575;
  --bg-color: #fff;
  --heading-color: #3a506b;
  --particle-color: #27a8b7;
  --width: 100;
  --height: 100vh;
  --scale: 3;
  --border-color: var(--bg-color);
}

[data-theme="custom"] {
  --primary-color: #0e0c0c;
  --secondary-color: rgb(141, 18, 26);
  --font-color: #e1e1ff;
  --bg-color: rgb(22, 22, 27);
  --heading-color: rgb(212, 114, 48);
  --particle-color: #8d121a;
}

[data-theme="dark"] {
  --primary-color: #1b1b1b;
  --secondary-color: rgb(141, 18, 26);
  --font-color: rgb(212, 212, 212);
  --bg-color: rgb(22, 22, 27);
  --heading-color: rgb(163, 53, 20);
  --particle-color: #8d121a;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  /* background-color: gray; */
}
.hero {
  width: 100%;
  min-width: 95%;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-left: 4%;

  /* transition: all 500ms ease;
  transform: translateX(5vw); */
}
.heroContent {
  width: 90%;
  margin: 10% auto;
  flex-flow: row wrap;
}
.lander {
  height: var(--height);
  width: 100%;
  background: var(--bg-color);
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 13px -3px rgba(0, 0, 0, 0.48);
}
a {
  text-decoration: none;
}
.menu {
  min-width: 70px;
  max-width: 75px;
  width: 5%;
  height: 100vh;
  margin: 0;
  /* background-color: #27a8b7; */
  box-shadow: 2px 0px 2px rgb(22, 22, 22);
  justify-content: flex-end;
  transition: all 500ms ease;
  z-index: 5;
}
#menuButton {
  background-image: url("../img/menu_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 40px;
  align-self: center;
  mix-blend-mode: multiply;
  z-index: 6;
}
.menu.menuToggle {
  transition: all 500ms ease;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  flex-flow: row nowrap;
  transform: translateX(0);
}
.hero.open {
  width: 70%;
  transition: all 500ms ease;
  /* transform: translateX(25vw); */
}

.hero.mobile {
  width: 100%;
  height: 100%;
}
.menu.mobile {
  position: absolute;
  margin: 2%;
  width: 5%;
  height: 5%;
}
.menu.mobile.sticky {
  position: fixed;
  top: 0;
}
.menu.mobile.menu.menuToggle {
  max-width: 100%;
}
.menu.mobile > #menuContainer {
  display: none;
  height: 90%;
  flex-flow: column wrap;
  margin: 0 auto 0 auto;
  transition-delay: 500ms;
  transition: all 250ms ease;
  transform: translateY(-200%);
}
.menu.mobile > #menuContainer.open {
  display: flex;
  padding-right: 0px;
  transform: translateY(0%);
}
.mobile.openSettings > #menuContainer > .menuContent {
  height: 100%;
  width: 50%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(25, 25, 25, 0.25);
}
.mobile > * > * > .menuItem {
  font-size: 1.25rem;
}
.mobile #devToolsButton {
  align-items: center;
  padding: 1.5rem 0 0 0;
}
.mobile em {
  padding-left: 10px;
  margin: 0 auto;
}
.menu.mobile.menuToggle > .menuImg {
  height: 10%;
}
.menu.menuToggle > * .settingsButton {
  left: 2%;
  bottom: 2%;
  position: absolute;
  transform: translateX(0px);
}
.menu.mobile.menuToggle > * .settingsButton {
  top: 2%;
  left: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
}
.mobile > .menuImg {
  background-image: none;
  height: 100%;
  width: 100%;
  align-self: flex-end;
}

.mobile > #menuContainer > .devContainer > .colorPickerContainer {
  flex-flow: row wrap;
}
.mobile #dtColorPicker {
  margin: 0 auto;
}
.mobile .dtColorPickerButtons {
  width: 80%;
  margin: 0 auto;
}
.menu.mobile.menuToggle {
  width: 100%;
  height: 45%;
  margin: 0 auto;
  flex-flow: row wrap;
}

.mobile > #menuContainer > .devContainer {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  flex-flow: row wrap;
}
.menuImg {
  position: absolute;
  background: url("../img/menu_bg.png") center center;
  background-blend-mode: screen;
  mix-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  width: 70px;
  height: 100vh;
  min-width: 5vw;
}
.menu #menuContainer {
  /* border: 1px solid black;*/
  height: 100%;
  padding-right: 70px;
  margin: auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  transition: all 500ms ease;
  transition-delay: 500ms;
  transform: translateY(-100%);
}

.menuItem {
  color: white;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}
.menuContent {
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.d-flex {
  display: flex;
  transition: all 250ms ease;
}
.-r {
  display: relative;
}
#menuContainer.open {
  transition-delay: 250ms;
  transform: translateY(0%);
}

.colorbg {
  background-color: var(--primary-color);
  background-image: linear-gradient(
    var(--primary-color) 30%,
    var(--heading-color)
  );
}
.colorText {
  color: var(--font-color);
}
.color {
  color: #27a8b7;
}
.dtButton {
  text-align: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border-style: none;
  max-width: 50px;
  min-width: 50px;
  margin: 2px;
  height: 20px;
  flex-grow: 2;
}
.dtColorBall {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #fff;
}
#dtBgBall {
  background-color: var(--bg-color);
}
#dtPriBall {
  background-color: var(--primary-color);
}
#dtSecBall {
  background-color: var(--secondary-color);
}
#dtHeadBall {
  background-color: var(--heading-color);
}
#dtFntBall {
  background-color: var(--font-color);
}
#dtCustomReset {
  justify-self: center;
  margin: auto;
}
#dtCustomApply {
  justify-self: center;
  margin: auto;
}
.dtColorPickerButtonContainer {
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
}
#customThemePreviewContainer {
  flex-flow: row wrap;
  width: 50%;
  height: 150px;
}
#customThemeBgPreview {
  margin: 2px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--bg-color);
  border: 2px solid #7e7e7e;
  justify-content: flex-start;
  align-items: center;
}
#customThemePrimaryPreview {
  width: 30%;
  height: 100%;
  background-color: var(--primary-color);
}
#customThemeSecondaryPreview {
  width: 70%;

  border-radius: 2px;
  background-color: var(--secondary-color);
  flex-flow: row wrap;
}
#customThemeHeadingPreview {
  font-size: 0.75rem;
  color: var(--heading-color);
}

#customThemeFontPreview {
  font-size: 0.5rem;
  color: var(--font-color);
}
.colorPickerContainer {
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  flex-flow: row wrap;
  align-items: flex-start;
}
#dtColorPicker {
  position: relative;
  width: 100%;
  height: 150px;
  justify-content: center;
}
.devContainer {
  width: 80%;
  min-width: 10%;
  height: 100%;
  margin: 10% auto;
  flex-flow: row wrap;
  align-items: flex-start;
  display: none;
}
#devCog {
  width: 20px;
  height: 20px;
  align-self: center;
}
.settingsButton {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--heading-color);
  margin: auto;
  transition: all 250ms ease;
  transform: translateX(-100px);
  bottom: 2%;
  left: 2%;
  z-index: 666;
}
.menu.menu.menuToggle > .settingsButton {
  transform: translateX(0px);
}
.borderTop {
  border-top: gray;
}

/*Simple css to style it like a toggle switch*/

.theme-switch-wrapper {
  flex-flow: row wrap;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(100%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
em {
  margin: 0 auto;
  font-size: 0.75rem;
}
input:checked + .slider:before em {
  color: white;
}

.menu.openSettings > * > .devContainer {
  display: flex;
}
.enterBottom {
  transition: all 250ms ease;
  transform: translateY(-200%);
}
.enterTop {
  transition: all 250ms ease;
  transform: translateY(-100%);
}
.sticky {
  position: fixed;
  top: 0;
}
.background.sticky {
  position: fixed;
  top: 0;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../img/hex_bg.svg")
    /*radial-gradient(circle, var(--secondary-color), var(--bg-color) 80%)*/;
  background-size: 2%, auto;

  background-blend-mode: multiply;
}
#particle-js {
  width: 100%;
  height: 100%;
}
#displayViewport {
  position: absolute;
  justify-self: flex-start;
  align-self: flex-start;
}
/* ---------------------------------------------Hex---------------------------- */
.hexagon {
  position: absolute;
  flex-flow: column wrap;
  height: auto;
  width: auto;

  z-index: 3;
}
.hex3 {
  transform: translate(0px, calc(-33px * var(--scale)));
  width: 45%;
  height: auto;
}
.hex2 {
  transform: translate(calc(-2px * var(--scale)));
  width: 45%;
  height: auto;
}
.hex1 {
  transform: translate(calc(2px * var(--scale)));
  width: 45%;
  height: auto;
}
.innerHex {
  position: absolute;
  width: 90%;
  height: 90%;
  background: var(--border-color);
  justify-content: center;
  align-items: center;
}

* > .hexBorder {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
}
* > .landerHexMask {
  mask-image: url("../img/lander_hex.svg");
  -webkit-mask-image: url("../img/lander_hex.svg");
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 98%;
  mask-position: center;
  -webkit-mask-position: center;
}
#hexContainer {
  width: 40%;
  min-height: 40vw;
  flex-flow: row wrap;
  justify-content: center;
}

.hexagon.hexagonBorder {
  position: relative;
  --border-color: var(--secondary-color);
  z-index: 1;
}
.hexTop {
  width: 0;
  border-bottom: calc(30px * var(--scale)) solid var(--border-color);
  border-left: calc(52px * var(--scale)) solid transparent;
  border-right: calc(52px * var(--scale)) solid transparent;
}

.hexMiddle {
  width: calc(104px * var(--scale));
  height: calc(60px * var(--scale));
  background-color: var(--border-color);
}

.hexBot {
  width: 0;
  border-top: calc(30px * var(--scale)) solid var(--border-color);
  border-left: calc(52px * var(--scale)) solid transparent;
  border-right: calc(52px * var(--scale)) solid transparent;
}

.icon {
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-position: center;
  -webkit-mask-position: center;
  z-index: 1;
  width: 70%;
  height: 70%;
  position: absolute;
  background: var(--heading-color);
  align-self: center;
  top: 12.5%;
}
.icon#mainHex {
  mask-image: url("../img/cv_icon.svg");
  -webkit-mask-image: url("../img/cv_icon.svg");
}
.icon#cvHex {
  mask-image: url("../img/cv_icon.svg");
  -webkit-mask-image: url("../img/cv_icon.svg");
}
.icon#portfolioHex {
  mask-image: url("../img/portfolio_icon.svg");
  -webkit-mask-image: url("../img/portfolio_icon.svg");
  width: 70%;
  height: 70%;
}
.cvHeader {
  text-align: center;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.locIcon {
  background: url("../img/location_icon.png") center/contain no-repeat;
  width: 30px;
  height: 30px;
}
.cvHeader h2 {
  font-weight: bold;
}
.cvHeaderInfo {
  width: 100%;
  padding: 0 0 3%;
  border-bottom: 1px solid var(--heading-color);
}
.locContainer {
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#cvPicture {
  margin: auto auto 20px;
  background: url("../img/Portrait2019_512.png") no-repeat;
  background-size: contain;
  width: calc(100px * var(--scale));
  height: calc(100px * var(--scale));
}
.artIcon {
  background: url("../img/art_icon.png") center/contain;
  width: 30px;
  height: 30px;
}
.linkedInIcon {
  background: url("../img/linkedIn_icon.svg") center/contain no-repeat;
  width: 30px;
  height: 30px;
}
.gitHubIcon {
  background: url("../img/github_icon.svg") center/contain no-repeat;
  width: 30px;
  height: 30px;
}
.headerInfoContainer {
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.mailIcon {
  width: 30px;
  height: 30px;
  background: url("../img/mail_icon.png") no-repeat;
  background-size: contain;
}
#cvContent a {
  text-align: left;
  text-transform: none;
  color: var(--font-color);
  padding: 0 5px;
}
#cvContent a:hover {
  color: var(--heading-color);
}
.leftColumn {
  margin: 1rem;
  width: 66%;
}
.rightColumn {
  width: 33%;
}
.cvMiddleContainer {
  background: var(--bg-color);
  flex-flow: row nowrap;
  padding: 3% 0 3%;
  border-bottom: 1px solid var(--heading-color);
  border-radius: 20px 20px 0 0;
}
.hexImg {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background: var(--heading-color) url("../img/hex_icon.svg") center/contain
    no-repeat;
  background-blend-mode: overlay;
}
.hexMask {
  mask-image: url("../img/hex_icon.svg");
  -webkit-mask-image: url("../img/hex_icon.svg");
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 27px;
  -webkit-mask-size: 27px;
  mask-position: center;
  -webkit-mask-position: center;
}

.cvContent {
  margin: 3% 0 3% calc(30px + 1rem);
  flex-flow: row wrap;
  width: 100%;
}
.f-row {
  flex-flow: row wrap;
}
.cvHeader {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bolder;
  color: var(--heading-color);
}
.educationContainer .cvContent > * {
  padding: 1rem 0;
}
.skillsContent {
  width: 50%;
}
.cvBottomContainer {
  background: var(--bg-color);
  padding: 3% 0 3%;
}
.cvLearningContainer {
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  border-radius: 0 0 20px 20px;
}
.cvLearningContainer .cvContent {
  justify-content: center;
  text-align: center;
}
.containerBorder {
  box-shadow: 1px 10px 15px -6px rgba(0, 0, 0, 0.75);
}
