* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #27a8b7;
  --secondary-color: rgb(238, 238, 238);
  --font-color: rgb(75, 75, 75);
  --bg-color: rgb(238, 238, 238);
  --heading-color: rgb(41, 41, 34);
  --particle-color: #27a8b7;
  --width: 100;
  --height: 100vh;
}
/*Smartphones tot 480px*/
@media screen and (min-width: px) {
  :root {
    --width: 0.25;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --width: 0.5;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --width: 0.75;
  }
}
/*Large screens from 1200px and up*/
@media screen and (min-width: 1200px) {
  :root {
    --width: 1;
  }
}

[data-theme="custom"] {
  --primary-color: #0e0c0c;
  --secondary-color: rgb(141, 18, 26);
  --font-color: #e1e1ff;
  --bg-color: rgb(22, 22, 27);
  --heading-color: rgb(129, 140, 171);
  --particle-color: #8d121a;
}
[data-theme="dark"] {
  --primary-color: #1b1b1b;
  --secondary-color: rgb(141, 18, 26);
  --font-color: rgb(225, 225, 255);
  --bg-color: rgb(22, 22, 27);
  --heading-color: rgb(129, 140, 171);
  --particle-color: #8d121a;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
  width: 100%;
  height: 100vh;
  flex-flow: row nowrap;
  /* background-color: gray; */
}
.hero {
  width: 95%;
  min-width: 95%;
  flex-wrap: wrap;
  flex-flow: row nowrap;
  /* transition: all 500ms ease;
  transform: translateX(5vw); */
}
.heroContent {
  width: 90%;
  margin: 0 auto;
  flex-flow: row wrap;
}
.lander {
  height: var(--height);
  width: 100%;
}
.menu {
  min-width: 70px;
  max-width: 75px;
  width: 5%;
  height: 100vh;
  margin: 0;
  /* background-color: #27a8b7; */
  box-shadow: 2px 0px 2px rgb(22, 22, 22);
  justify-content: flex-end;
  transition: all 500ms ease;
  z-index: 5;
}
#menuButton {
  background-image: url("../img/menu_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 40px;
  align-self: center;
  mix-blend-mode: multiply;
  z-index: 6;
}
.menu.menuToggle {
  transition: all 500ms ease;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  flex-flow: row nowrap;
  transform: translateX(0);
}
.hero.open {
  width: 70%;
  transition: all 500ms ease;
  /* transform: translateX(25vw); */
}

.hero.mobile {
  width: 100%;
  height: 100%;
}
.menu.mobile {
  position: absolute;
  margin: 2%;
  width: 5%;
  height: 5%;
}
.menu.mobile.sticky {
  position: fixed;
  top: 0;
}
.menu.mobile.menu.menuToggle {
  max-width: 100%;
}
.menu.mobile > #menuContainer {
  display: none;
  height: 90%;
  flex-flow: column wrap;
  margin: 0 auto 0 auto;
  transition-delay: 500ms;
  transition: all 250ms ease;
  transform: translateY(-200%);
}
.menu.mobile > #menuContainer.open {
  display: flex;
  padding-right: 0px;
  transform: translateY(0%);
}
.mobile.openSettings > #menuContainer > .menuContent {
  height: 100%;
  width: 50%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(25, 25, 25, 0.25);
}
.mobile > * > * > .menuItem {
  font-size: 1.25rem;
}
.mobile #devToolsButton {
  align-items: center;
  padding: 1.5rem 0 0 0;
}
.mobile em {
  padding-left: 10px;
  margin: 0 auto;
}
.menu.mobile.menuToggle > .menuImg {
  height: 10%;
}
.menu.menuToggle > * .settingsButton {
  left: 2%;
  bottom: 2%;
  position: absolute;
  transform: translateX(0px);
}
.menu.mobile.menuToggle > * .settingsButton {
  top: 2%;
  left: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
}
.mobile > .menuImg {
  background-image: none;
  height: 100%;
  width: 100%;
  align-self: flex-end;
}

.mobile > #menuContainer > .devContainer > .colorPickerContainer {
  flex-flow: row wrap;
}
.mobile #dtColorPicker {
  margin: 0 auto;
}
.mobile .dtColorPickerButtons {
  width: 80%;
  margin: 0 auto;
}
.menu.mobile.menuToggle {
  width: 100%;
  height: 45%;
  margin: 0 auto;
  flex-flow: row wrap;
}

.mobile > #menuContainer > .devContainer {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  flex-flow: row wrap;
}
.menuImg {
  position: absolute;
  background: url("../img/menu_AO.png") center center;
  background-blend-mode: screen;
  mix-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  width: 70px;
  height: 100vh;
  min-width: 5vw;
}
.menu #menuContainer {
  /* border: 1px solid black;*/
  height: 100%;
  padding-right: 70px;
  margin: auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  transition: all 500ms ease;
  transition-delay: 500ms;
  transform: translateY(-100%);
}

.menuItem {
  color: white;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}
.menuContent {
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.d-flex {
  display: flex;
  transition: all 250ms ease;
}
.-r {
  display: relative;
}
#menuContainer.open {
  transition-delay: 250ms;
  transform: translateY(0%);
}

.colorbg {
  background-color: var(--primary-color);
}
.colorText {
  color: var(--font-color);
}
.color {
  color: #27a8b7;
}
.dtButton {
  text-align: center;
  margin-left: 5%;
  justify-content: center;
  height: 20px;
  flex-grow: 2;
}
#customThemePreview {
  width: 100%;
  height: 5vh;
  margin: 5px auto;
  border: 1px solid black;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
}
#customThemePreviewText {
  color: var(--secondary-color);
  text-align: center;
}
.colorPickerContainer {
  margin: 0 auto;
  justify-content: center;
  flex-flow: row wrap;
}
#dtColorPicker {
  position: relative;
  width: 100%;
  height: 150px;
  justify-content: center;
}
.devContainer {
  width: 80%;
  min-width: 10%;
  height: 45%;
  margin: 10% auto;
  flex-flow: row wrap;
  display: none;
}
#devToolsButton {
  padding-bottom: 0px;
}
#devCog {
  width: 20px;
  height: 20px;
  align-self: center;
}
.settingsButton {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--secondary-color);
  margin: auto;
  transition: all 250ms ease;
  transform: translateX(-100px);
  bottom: 2%;
  left: 2%;
  z-index: 666;
}
.menu.menu.menuToggle > .settingsButton {
  transform: translateX(0px);
}
.borderTop {
  border-top: gray;
}
.dtColorPickerButtons {
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0.5vw;
}
/*Simple css to style it like a toggle switch*/

.theme-switch-wrapper {
  flex-flow: row wrap;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(100%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
em {
  margin: 0 auto;
  font-size: 0.75rem;
}
input:checked + .slider:before em {
  color: white;
}

.menu.openSettings > * > .devContainer {
  display: flex;
}
.enterBottom {
  transition: all 250ms ease;
  transform: translateY(-200%);
}
.enterTop {
  transition: all 250ms ease;
  transform: translateY(-100%);
}
.sticky {
  position: fixed;
  top: 0;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#particle-js {
  width: 100%;
  height: 100%;
}
/* ---------------------------------------------Hex---------------------------- */
.hexagon {
  flex-flow: column wrap;
  height: 100%;
}
.hexTop {
  width: 0;
  border-bottom: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hexMiddle {
  width: 104px;
  height: 60px;
  background-color: #6c6;
}

.hexBot {
  width: 0;
  border-top: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
